<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 위의 부분은 고치면 안되는 설정 부분이기 때문에 복사해서 붙여 넣기 -->

<mapper namespace="Join">
	<!-- 1. public int insert(Join join) -->
	<insert id="insert" parameterType="com.haley.join.domain.Join">

		insert into join
		values(#{email}, #{pw}, #{dname}, #{dbirth})

	</insert>

	<!-- 2. public List<Join> selectAll() -->
	<select id="selectAll" resultType="com.haley.join.domain.Join">
		select * from join
	</select>

	<!-- 3.public Join selectOne(String email) -->
	<select id="selectOne" resultType="com.haley.join.domain.Join"
		parameterType="java.lang.String">

		select * from join
		where email=#{email}

	</select>

	<!-- 4. public int update(Join join) -->
	<update id="update" parameterType="com.haley.join.domain.Join">
		update join 
		set pw=#{pw}, dname=#{dname}, dbirth=#{dbirth}
		where email=#{email}
	</update>
	
	<!-- 5. public int delete(String email) -->
	<delete id="delete" parameterType="java.lang.String">
		delete from join
		where email=#{email}
	</delete>


</mapper>